@font-face {
  font-family: proxima-nova;
  src: url(Fonts/FontsFree-Net-proxima_nova_reg-webfont.ttf) format("truetype");
}

body {
  margin: 0;
  background-color: red;
  font-family: 'Proxima Nova', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.responsive-height {
  height: 100vh;
}

.responsive-center {
  text-align: right;
}

.responsive-contact-img {
  width: 650px;
  height: 750px;
  margin-top: -8vh;
  margin-left: -10vw;
}

.service-card .mask {
  border-radius: 10px 10px 0 0;
}

.no-padding {
  padding: 0 !important;
}

.background-1 {
  background-image: url("Assets/HomePageBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: -25px;
}

.background-2 {
  background-image: url("Assets/AboutUsPageBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: 58px;
}

.background-3 {
  background-image: url(Assets/ServicesPageBackground.png);
    background-size: auto;
    background-position-x: -125px;
    background-size: contain;
    background-size: 118% 100%;
}

.background-4 {
  background-image: url(Assets/TeamPageBackground.png);
    background-size: auto;
    background-position-x: -125px;
    background-size: contain;
    background-size: 118% 100%;
}

.background-5 {
  background-image: url(Assets/ContactUSPageBackground.png);
  background-size: auto;
  background-position-x: -125px;
  background-size: contain;
  background-size: 118% 100%;
}


@media (max-width: 576px) {
  .responsive-height {
      height: 100%;
  }

  .responsive-center {
    text-align: center;
  }

  .responsive-contact-img {
    width: 100%;
    height: inherit;
    margin-top: 0;
    margin-left: 0;
  }
 }



.font_bold{
  font-weight: 600;
}

.font_medium{
  font-weight: 400; 
}

.font_size_title{
  font-size: 1.8vw;
}


