@font-face {
  font-family: proxima-nova;
  src: url(Fonts/FontsFree-Net-proxima_nova_reg-webfont.ttf) format("truetype");
}

body {
  margin: 0;
  background-color: red;
  font-family: 'Proxima Nova', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.modal.show {
  z-index: 100000!important;
}

.modal-backdrop.show {
  z-index: 100000!important;
}

.responsive-height {
  height: 100vh;
}

.responsive-center {
  text-align: right;
}

.responsive-logo {
  margin-left: 130px;
}

.responsive-contact-img {
  width: 650px;
  height: 750px;
  margin-top: -8vh;
  margin-left: -10vw;
}

.service-card .mask {
  border-radius: 10px 10px 0 0;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}
.responsive-hp-illustration {
  margin-top: 5vh;
}

.background-1 {
  background-image: url("Assets/HomePageBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: -50px;
}

.background-2 {
  background-image: url("Assets/AboutUsPageBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: 58px;
}

.background-3 {
  background-image: url(Assets/ServicesPageBackground.png);
    background-size: auto;
    background-position-x: -125px;
    background-size: contain;
    background-size: 118% 100%;
}

.background-4 {
  background-image: url(Assets/TeamPageBackground.png);
    background-size: auto;
    background-position-x: -125px;
    background-size: contain;
    background-size: 118% 100%;
}

.background-5 {
  background-image: url(Assets/ContactUSPageBackground.png);
  background-size: auto;
  background-position-x: -125px;
  background-size: contain;
  background-size: 118% 100%;
}


/*************************************** Please write all the CSS code before this line *****************************************/

/**** Responsive Code ****/

/** Mobiles **/
@media only screen and (max-width: 576px) {
  .responsive-height {
      height: 100%;
  }

  .responsive-center {
    text-align: center;
  }

  .responsive-contact-img {
    width: 100%;
    height: inherit;
    margin-top: 0;
    margin-left: 0;
  }

  .font_size_title{
    font-size: 3.8vw;
  }

  .responsive-logo {
    margin-left: 0px;
  }

  .background-1, .background-2, .background-3, .background-4, .background-5 {
    background: none;
  }

  .hide-mouse {
    display: none;
  }
 }

 /** Tablets **/
 @media only screen and (min-width: 576px) and (max-width: 800px) {
  .responsive-contact-img {
    width: 100%;
    height: inherit;
    margin-top: 0;
    margin-left: 0;
  }

  .responsive-height {
    height: 100%;
  } 

  .responsive-center {
    text-align: center;
  }

  .font_size_title{
    font-size: 3.8vw;
  }
 }


